html,body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
.title{
	background:#3770ad;
	width:100%;
	padding: 5px 0 10px 0;
	margin:2px;
	border-color:#ffd73a;
	border-style:ridge;
	border-width:5px;
}
.container{
	margin:0px;
	padding:0px;
	width:100%;
}
.title h1{
	font-family: "Times New Roman", Times, serif;
	text-align:center;
	margin:3% 3% 0 0;
	color:#e8ff1e;
	display:block;
}
.title h2{
	font-size: 15px;
	margin: 0px 0 2% 15%;
	color:white;
	text-align:center;
}
.title a{
	margin:-105px 0 0 3%;
	display:block;
}
